/* Start Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee; */
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(1,122,157, 0.6), rgba(1,122,157, 0.6)), url("../img/background.jpeg") no-repeat center fixed;
    /* background-image: linear-gradient(to right, rgba(217, 67, 88, 1), rgba(83, 66, 218, 1)); */
    background-size: cover;
}